extends layout  

block content 
    div.mainCont
        h2 List of all items you have uploaded 
        if files 
            ul 
                each file in files 
                    li 
                        a(href="/file/" + file.id) #{file.name} 
        else 
            h4 No files uploaded yet!