doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script. 
      function goHome() {
        window.location.href = "/"
      }

      function goLogin() {
        window.location.href = "/login"
      }

      function goRegister() {
        window.location.href = "/register"
      }

    div.headerContent
      h1 File Server 
      div.navBar 
        if user
          button.navBtn(onclick="goHome()") Home
          p Welcome #{user.username}
          button.navBtn(onclick="goRegister()") Logout
        else 
          button.navBtn(onclick="goHome()") Home
          button.navBtn(onclick="goLogin()") Login
          button.navBtn(onclick="goRegister()") Register

    block content
