extends layout 

block content 
    div.mainCont 
        h2 Create a new folder 
        form(method='POST')
            div.newFolderName 
                label(for="name") Folder name
                input(type="text" name="name" placeholder="New Folder" required value=(name == undefined?'':name))
            button.btnNewFolderAdd(action='post') Create folder 
        
        if errors 
            ul  
                each error in errors 
                    li!=error.msg